:root {
  --clr-heading: hsl(217, 19%, 35%);
  --clr-text: hsl(214, 17%, 51%);
  --clr-text-secondary: hsl(212, 23%, 69%);
  --clr-background: hsl(210, 46%, 95%);
  --clr-background-card: hsl(0, 0%, 100%);

  --ff-primary: "Manrope", sans-serif;

  --fs-text: 0.8125rem;
  --fs-heading: 1rem;

  --lh-text: 1.25rem;
  --lh-heading: 1.5rem;

  --ls-text: 0.0076171875rem;
  --ls-heading: 0.0125rem;

  --fw-500: 500;
  --fw-700: 700;

  --space-container: 2.5em;
  --space-body-top: 2em;
  --space-body-bottom: 2em;
  --space-footer-bottom: 1.25em;
  --space-title-bottom: 0.6em;
  --space-icon: 0.7em;
  --space-mobile-active: 1.25em;
  --social-links-height: 6.25rem;

  --avatar-width: 2.5em;
  --share-icon: 2em;

  @media (min-width: 90em) {
    --fs-heading: 1.25rem;
    --lh-heading: 1.75rem;
    --ls-heading: 0.015625rem;

    --space-body-bottom: 1.25em;
    --space-footer-bottom: 2em;
  }
}
